@model int

<h1>@ViewBag.Title</h1>

<ul>
    @for(int i = 1; i <= Model; i++)
    {
        <li>@i</li>
    }
</ul>

<form asp-action="NumbersToN" method="post">
    <input name="num" type="number" min="1" />
    <button type="submit" class="btn btn-primary">Submit</button>
</form>


