@model TextViewModel

<form asp-action="SplitText" method="post">

    <div class="form-group">
        <input asp-for="Text" class="mr-2" name="Text" />
        <button class="btn btn-primary" type="submit">Split Text</button>
        <span asp-validation-for="Text" class="text-danger"></span>
    </div>

    <div class="col-2 mt-3">
        <textarea rows="10" asp-for="SplitedText" disabled>@Model?.SplitedText</textarea>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
