@{
    ViewData["Title"] = "Home Page";
    ViewBag.Message = "Hello world!";
}

<section>
    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>
    <p>This is the @ViewBag.Title .</p>
</section>
